<script type="application/ld+json">
    {{ $image := resources.Get .Site.Params.logoPhoto -}}    
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "publisher": {
            "@type": "Organization",
            "name": "{{ .Site.Title }}",
            "url": {{ .Site.BaseURL | jsonify | safeJS }},
            "logo": {
                "@type": "ImageObject",
                "url": {{ $image.Permalink }},
                "width": {{ $image.Width }},
                "height": {{ $image.Height }}
            }
        },
        "url": {{ .Permalink }},
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": {{ .Site.BaseURL | jsonify | safeJS }}
        },
        "description": {{ .Description | jsonify | safeJS }}
    }
</script>