{{ define "main" }}

    <h1 hidden>{{ .Title }}</h1>

    <div class="uk-section uk-section-default" uk-height-viewport="offset-bottom: 32" uk-filter="target: .js-filter">
        <div class="uk-container uk-container-expand">

            {{$slice := slice}}
            {{range $page := .Pages}}
                {{range $tag := $page.Params.tags}}
                    {{$slice = $slice | append $tag}}
                {{end}}
            {{end}}

            <ul class="uk-subnav uk-subnav-pill uk-visible@l" uk-margin>
                <li class="uk-active" uk-filter-control><a href="#">All</a></li>
                {{ range $uniqueTags := $slice | uniq }}
                    <li uk-filter-control="[data-tags*='{{ $uniqueTags }}']"><a href="#">{{ $uniqueTags }}</a></li>
                {{ end }}
            </ul>

            {{ range .Pages.GroupByParam "projectcategory" }}
                <h2>{{.Key}}</h2>
                <div class="js-filter uk-child-width-1-4@m uk-grid-small uk-grid-match" uk-grid>
                    {{ range .Pages }}
                        <div data-tags="{{ range .Params.tags }}{{ . }} {{ end }}">
                            {{- partial "projectCard.html" . -}}
                        </div>
                    {{ end }}
                </div>
            {{ end }}

        </div>
    </div>


{{end}}