$primary: {{ .Site.Params.scss.primary }};
$secondary: {{ .Site.Params.scss.secondary }};
$background-color: {{ .Site.Params.scss.backgroundColor }};
$background-color-light: {{ .Site.Params.scss.backgroundColorLight }};
$text-color: {{ .Site.Params.scss.textColor }};
$sub-text-color: {{ .Site.Params.scss.subTextColor }};
$global-font-family: {{ .Site.Params.scss.globalFontFamily }} !important;
$label-background-color: {{ .Site.Params.scss.labelBackgroundColor }};
$label-text-color: {{ .Site.Params.scss.labelTextColor }};
$headers: {{ .Site.Params.scss.headers }};


html {
    font-family: $global-font-family;
}

code {
    font-family: $global-font-family;
}

body {
    color: $text-color !important;
    background-color: $background-color !important;
    font-size: 1em;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $primary !important;
    opacity: 1;
    /* Firefox */
    text-transform: uppercase;
    font-size: 0.875rem;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $primary !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $primary !important;
}

.gol-subnav a {
    color: $primary !important;
}

/* Hover + Focus */
.gol-subnav a:hover,
.gol-subnav a:focus {
    color: $secondary !important;
    text-decoration: underline;
    outline: none;
}

.gol-subnav> ::before {
    border-left: 2px solid $primary !important;
}

.gol-tr-bgcolor {
    background: $background-color-light
}

.uk-light {
    color: $text-color !important;
}

.uk-section-default {
    background-color: $background-color !important;
}

.uk-card-default{
    height: 100%;
    color: #000000;
}

.uk-card-default a{
    color: #000000 !important;
}

a.uk-card-default{
    color: #000000 !important;
}

.uk-card-default h4{
    color: #000000 !important;
}

.uk-card-default a:hover{
    color: #000000 !important;
}

a.uk-card-default:hover{
    color: #000000 !important;
    text-decoration: none;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}


.uk-card-default h3{
    color: #000000 !important;
}

.uk-link-text {
    color: $primary !important;
}

.uk-link-text:hover,
.uk-link-text:focus {
    color: $secondary !important;
}

.uk-label {
    background: $label-background-color !important;
    color: $label-text-color !important;
    font-size: small;
}

.uk-label a {
    color: $label-text-color !important;
    font-weight: 700;
}

.uk-label a:hover,
.uk-label a:focus {
    color: $label-text-color !important;
}

.gol-links a:not(.uk-icon) {
    color: $text-color !important;
    text-decoration: none;
    border-bottom: 2px solid $text-color !important;
}

.gol-links a:hover:not(.uk-icon),
.gol-links a:focus:not(.uk-icon) {
    text-decoration: none;
    border-bottom: 3px solid $primary !important;
}

a,
.uk-link {
    color: $primary !important;
    text-decoration: none;
    cursor: pointer;
}

a:hover,
.uk-link:hover {
    color: $secondary !important;
}

h2 {
    color: $headers !important;
}

h2 > code {
    font-size: 1.7rem;
}

h3 {
    color: $headers !important;
}

h4 {
    color: $headers !important;
}

h1 {
    color: $headers !important;
}

blockquote {
    color: $sub-text-color !important;
}

time {
    color: $sub-text-color;
}

.uk-badge {
    background: $primary !important;
    color: $label-text-color !important;
}

#searchBox input{
    border: 1px solid $primary !important;
    color: $primary !important;
}

#searchBox, .ais-SearchBox-loadingIndicator{
    padding-right: 10px;
    stroke: $primary !important;
}

.ais-SearchBox-loadingIcon {
    stroke: $primary !important;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/font/FiraCode-Regular.woff2') format('woff2'),
    url("/font/FiraCode-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

pre code{
    font-family: "Fira Code", monospace !important;
    font-variant-ligatures: common-ligatures;
}
