{{ define "main" }}

    <h1 hidden>{{.Title}}</h1>

<div class="uk-grid uk-grid-match" uk-height-viewport="offset-bottom: 32">
    <div class="uk-width-expand@m">
        <div class="uk-section uk-section-default">
            <div class="uk-container uk-container-xsmall uk-text-justify uk-text-break">
                {{ range (.Paginate (.Pages.GroupByPublishDate "2006")).PageGroups }}
                    {{ range .Pages }}
                        <article class="uk-article gol-links uk-margin-large">
                            {{ if .Params.images }}
                            <a href="{{.Permalink}}"><img class="uk-border-rounded uk-align-center" src="{{ index .Params.images 0 }}" alt="{{.Title}}" width="500" uk-img></a>
                            {{ end }}
                            <a href="{{.Permalink}}">{{.Title}}</a>
                            <p class="uk-article-meta">
                                <time datetime="{{.PublishDate}}" itemprop="datePublished" class="uk-text-left">{{.PublishDate.Format "01-02-2006"}}</time>
                            </p>
                            <p>{{.Description}}</p>
                        </article>
                    {{ end }}
                {{end}}
                {{ partial "pagination.html" . }}
            </div>
        </div>
    </div>
    <div class="uk-width-1-5@s">
        <div class="uk-section uk-section-default">
            <div class="uk-container uk-container-xsmall">
                <div>
                    <div class="uk-card uk-card-default uk-card-small uk-card-body">
                        <h3 class="uk-card-title">Categories</h3>
                        <p>
                            {{ range $key, $value := .Site.Taxonomies.categories }}
                            <span class="uk-label"> <a href="{{ "/categories/" | relLangURL }}{{$key | urlize}}">{{$key | upper}}</a></span>
                            {{ end }}
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="uk-container uk-container-xsmall">
                <div>
                    <div class="uk-card uk-card-default uk-card-small uk-card-body">
                        <h3 class="uk-card-title">Tags</h3>
                        <p>
                            {{ $blog := .Site.GetPage "/blog"}}
                            {{ $slice := slice }}
                            {{ range $page := $blog.Data.Pages }}
                                {{ range $tag := $page.Params.tags }}
                                    {{ $slice = $slice | append $tag }}
                                {{ end }}
                            {{ end }}

                            {{ range $uniqueTags := $slice | uniq }}
                            <span class="uk-label"><a href="{{ "/tags/" | relLangURL }}{{ $uniqueTags | urlize}}">{{ $uniqueTags | upper }}</a></span>
                            {{ end }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}
