<!DOCTYPE html>
<html lang="en">
<head>
    {{- partial "meta.html" . -}}
    {{- block "head" . }}{{- end }}
    {{- partial "head.html" . -}}
    {{ partial "seo/profileOGPSEO.html" . }}

    <script>
        const algoliaAppId = {{.Site.Params.algoliaAppId}}
        const algoliaApiKey = {{.Site.Params.algoliaApiKey}}
        const algoliaIndexName = {{.Site.Params.algoliaIndexName}}
    </script>
    {{ partial "main-script.html" . }}
</head>
<body>
<main id="profile" class="flex flex-col h-screen justify-between">
    {{- partial "nav.html" . -}}
    <div class="mb-auto w-auto px-6 py-12 bg-gray-800 lg:max-w-7xl md:mx-auto mt-6 xl:rounded-xl shadow-2xl border border-gray-600">
        <div class="mt-8 prose prose-invert mx-auto lg:prose-lg max-w-none prose-ul:leading-[1.5] prose-ol:leading-[1.5] break-words">
            {{- block "main" . }}{{- end }}
        </div>
    </div>

    {{- partial "footer.html" . -}}
    {{- partial "search.html" . -}}
</main>
{{- partial "scripts.html" . -}}

{{ if .Params.video }}
<link href="/css/video-js.min.css" rel="stylesheet">
<script src="/js/video.min.js"></script>
{{ end }}
</body>
</html>
