<!DOCTYPE html>
<html lang="en">
<head>
    {{- partial "meta.html" . -}}
    {{- block "head" . }}{{- end }}
    {{- partial "head.html" . -}}
    {{ partial "seo/profileOGPSEO.html" . }}

    <script>
        const algoliaAppId = {{.Site.Params.algoliaAppId}}
        const algoliaApiKey = {{.Site.Params.algoliaApiKey}}
        const algoliaIndexName = {{.Site.Params.algoliaIndexName}}
    </script>
    {{ partial "main-script.html" . }}
</head>
<body class="min-h-screen flex flex-col">
<div id="search-app" class="flex-1 flex flex-col">
    {{- partial "nav.html" . -}}

    <main class="flex-1 w-full max-w-6xl mx-auto px-4 sm:px-6 py-10">
        {{- block "main" . }}{{- end }}
    </main>

    {{- partial "footer.html" . -}}
    {{- partial "search.html" . -}}
</div>

{{- partial "scripts.html" . -}}

{{ if .Params.video }}
<link href="/css/video-js.min.css" rel="stylesheet">
<script src="/js/video.min.js"></script>
{{ end }}
</body>
</html>
