{{ define "head"}}

    {{ if .Params.images }}
        {{ range .Params.images }}
            <link rel="preload" href="{{ . }}" as="image">
        {{ end }}
    {{ end }}

    {{ with .OutputFormats.Get "amp" }}
        <link rel="amphtml" href="{{ .Permalink }}">
    {{ end }}
    {{- partial "articleSchemaSEO.html" . -}}
{{ end }}

{{define "main"}}
<article>
    <h1>{{.Title}}</h1>

    <p>{{.PublishDate.Format "January 2, 2006"}} {{ if not (eq .Lastmod .Date) }}(Modified on {{ .Lastmod.Format "January 2, 2006" }}){{ end }} &bullet; {{ range .Params.tags }} <a href="{{ `/tags/` | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}
        &bullet; {{ .ReadingTime }} minutes to read</p>

    <div class="inline-flex rounded-md shadow-sm">
        <p class="!my-0 pr-2 hidden md:block">Share on</p>
        <a href="https://www.facebook.com/sharer.php?u={{ .Permalink }}" class="py-2 px-4 text-sm font-medium rounded-l-lg border focus:z-10 focus:ring-2 bg-gray-700 border-gray-600 text-white hover:text-white hover:bg-gray-600 focus:ring-blue-500 focus:text-white">
            <i v-html="facebook" aria-hidden="true"></i>
            <span class="sr-only">Share on Facebook</span>
        </a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}" class="py-2 px-4 text-sm font-medium border-t border-b border-r focus:z-10 focus:ring-2 bg-gray-700 border-gray-600 text-white hover:text-white hover:bg-gray-600 focus:ring-blue-500 focus:text-white">
            <i v-html="linkedin" aria-hidden="true"></i>
            <span class="sr-only">Share on LinkedIn</span>
        </a>
        <a href="https://www.reddit.com/submit?url={{ .Permalink }}&title={{.Title|htmlEscape }}" class="py-2 px-4 text-sm font-medium border-t border-b border-r focus:z-10 focus:ring-2 bg-gray-700 border-gray-600 text-white hover:text-white hover:bg-gray-600 focus:ring-blue-500 focus:text-white">
            <i v-html="reddit" aria-hidden="true"></i>
            <span class="sr-only">Share on Reddit</span>
        </a>
        <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}" class="py-2 px-4 text-sm font-medium border-t border-b focus:z-10 focus:ring-2 bg-gray-700 border-gray-600 text-white hover:text-white hover:bg-gray-600 focus:ring-blue-500 focus:text-white">
            <i v-html="twitter" aria-hidden="true"></i>
            <span class="sr-only">Share on Twitter</span>
        </a>
        <a href="https://pinterest.com/pin/create/link/?url={{ .Permalink }}" class="py-2 px-4 text-sm font-medium rounded-r-md border focus:z-10 focus:ring-2 bg-gray-700 border-gray-600 text-white hover:text-white hover:bg-gray-600 focus:ring-blue-500 focus:text-white">
            <i v-html="pinterest" aria-hidden="true"></i>
            <span class="sr-only">Share on Pinterest</span>
        </a>
    </div>

    {{ if (isset .Params "sitemapimages" )}}
        {{ range $index, $element := .Params.siteMapImages }}
            {{if eq $index 0 }}
            <figure>
                <img class="mx-auto rounded-lg object-contain" width="600" src="{{ .imageLoc | absURL }}" alt="{{ .imageCaption }}">
            </figure>
            {{end}}
        {{end}}
    {{ end }}

    <ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-7450383714878520"
     data-ad-slot="3767566685"></ins>

     {{ replace .Content "<!--adsense-->" (partial "ads/article-ads.html" .) | safeHTML | replaceRE "(<h[1-6]\\sid=\"([^\"]+)\"\\s?>)(.+)(</h[1-6]+>)" "${1}${3}<a class=\"anchor-link\" v-html=\"link\" href=\"#${2}\"></a>${4}" | safeHTML }}
</article>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7450383714878520"
     data-ad-slot="8761158473"></ins>

<hr class="!my-0">

{{ partial "sendgrid.html" }}

<hr class="!my-0">

<div class="w-full">
    {{ template "_internal/disqus.html" . }}
</div>
{{end}}