<!doctype html>
<html lang="en">
<head>
    {{- partial "head.html" . -}}
</head>
<body class="text-white leading-normal tracking-wider shadow-xl">

<div id="profile">
    <div id="profile" class="max-w-4xl flex items-center h-auto lg:h-screen flex-wrap mx-auto my-32 lg:my-0">

        <!--Main Col-->
        <div class="sm:relative w-full rounded-lg shadow-2xl bg-gray-800 opacity-75 mx-6 ring-gray-800/5">


            <div class="p-4 md:p-12 text-center">
                <div class="block rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center">
                    <img src="{{.Site.Params.thumbnailUrl}}" class="rounded-full lg:block" alt="{{.Title}}">
                </div>

                <!-- Nav bar -->
                <div class="pt-12 pb-8">
                    <nav class="flex items-center justify-between flex-wrap bg-gray-600 rounded-lg p-4">

                        <div class="flex items-center flex-shrink text-white mr-6">
                            <img src="{{.Site.Params.namedLogo}}" class="sm:w-48 w-40" alt="{{.Title}}">
                        </div>

                        <div class="block lg:hidden">
                            <button @click="showMenuToggle()"
                                    class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>Menu</title>
                                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                                </svg>
                            </button>
                        </div>

                        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto"
                             v-bind:class="{hidden: showMenu}">
                            <div class="text-xl lg:flex-grow">
                                {{ range.Site.Menus.main }}
                                <a href="{{.URL}}"
                                   class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-4">
                                    {{ .Name }}
                                </a>
                                {{ end }}
                            </div>
                        </div>

                    </nav>
                </div>

                <h1 class="hidden">{{ .Title }}</h1>


                <div class="py-4 text-lg">{{ .Content }}</div>

                <div class="mt-6 pb-16 lg:pb-0 w-4/6 mx-auto flex flex-wrap items-center justify-between">
                    <a class="link" href="{{ .Site.Params.linkedin }}">
                        <i v-html="linkedin" class="hover:text-gray-300" aria-hidden="true"></i>
                        <span class="sr-only">LinkedIn</span>
                    </a>
                    <a class="link" href="{{ .Site.Params.twitter }}">
                        <i v-html="twitter" class="hover:text-gray-300" aria-hidden="true"></i>
                        <span class="sr-only">Twitter</span>
                    </a>
                    <a class="link" href="{{ .Site.Params.github }}">
                        <i v-html="github" class="hover:text-gray-300" aria-hidden="true"></i>
                        <span class="sr-only">GitHub</span>
                    </a>
                    <a class="link" href="mailto:{{ .Site.Params.email }}">
                        <i v-html="mail" class="hover:text-gray-300" aria-hidden="true"></i>
                        <span class="sr-only">eMail</span>
                    </a>
                </div>
            </div>

            <!-- Pin to top right corner -->
            <div class="absolute top-0 right-0 h-12 w-18 p-4">
                <button class="focus:outline-none" @click="showSearchToggle()" aria-label="Search button"><i v-html="search"
                                                                                  class="hover:text-gray-300"></i>
                </button>
            </div>

        </div>

    </div>
{{ partial "search.html" . }}
</div>
{{ partial "scripts.html" . }}
</body>
</html>