@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-900;
    @apply text-white;
}

.highlight pre {
    @apply my-2
}

h2,
h3,
h4,
h5,
h6 {
    @extend %headings !optional;
}

article {
    %headings {
        .anchor-link {
            display: none;
        }
        &:hover {
            .anchor-link {
                display: inline;
            }
        }
    }
}