<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Article",
        "publisher": {
            "@type": "Organization",
            "name": "{{ .Site.Title }}",
            "logo": {
                "@type": "ImageObject",
                "url": {{ .Site.Params.logoPhoto | absURL | jsonify | safeJS }},
                "width": 60,
                "height": 60
            }
        },
        "author": {
            "@type": "Person",
            "name": "{{ .Params.author.firstName }} {{ .Params.author.lastName }}",
            "image": {
                "@type": "ImageObject",
                "url": {{ .Site.Params.logoPhoto | absURL | jsonify | safeJS }},
                "width": 481,
                "height": 533
            },
            "url": {{ .Site.BaseURL | jsonify | safeJS }},
            "sameAs": [
                {{ .Site.Params.twitter | jsonify | safeJS }},
                {{ .Site.Params.github | jsonify | safeJS }},
                {{ .Site.Params.linkedin | jsonify | safeJS }},
                {{ .Site.BaseURL | jsonify | safeJS }}
            ]
        },
        "headline": "{{ .Title }}",
        "url": {{ .Permalink | jsonify | safeJS }},
        "datePublished": {{ .PublishDate.Format "2006-01-02T15:04:05-0700" | safeHTML}},
        {{- if not (eq .Lastmod .Date) -}}
        "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05-0700" | safeHTML}},
        {{- end -}}
        "image": {
            "@type": "ImageObject",
            {{- if (isset .Params "images") }}
            "url":{{ (index .Params.images 0) | absURL | jsonify | safeJS }},
            {{- else -}}
            "url":{{ .Site.Params.thumbnailUrl | absURL | jsonify | safeJS }},
            {{ end }}
            "width": 2600,
            "height": 1430
        },
        "keywords": "New",
        "description": "{{ .Description | safeHTML }}",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": {{ .Site.BaseURL | jsonify | safeJS }}
        }
    }
</script>
