<!-- image maximise model -->
<div class="fixed z-10 inset-0 overflow-auto backdrop-blur-lg bg-gray-800/80 hidden" ref="imageModel" @click="outsideClick($event, 'imageModel')">
    <div class="relative max-w-4xl flex items-center h-auto flex-wrap mx-auto my-32" @click.stop>
        <div class="relative w-full rounded-lg shadow-2xl bg-gray-700 mx-6 ring-gray-800 p-4">
            <!-- close button -->
            <div class="absolute top-0 right-0 h-12 w-18 p-4">
                <button class="focus:outline-none" aria-label="Close" @click="toggleMaximizeImage"><i v-html="icons.times"
                                                                                  class="hover:text-gray-300"></i>
                </button>
            </div>
            
            <img class="w-full" src="" alt="" ref="imageModelSrc">

        </div>
    </div>

</div>