<nav class="flex items-center justify-between flex-wrap bg-gray-800 p-4 border-b border-gray-600">

    <div class="flex items-center flex-shrink text-white mr-6">
        <a href="/"><img src="{{.Site.Params.namedLogo}}" class="sm:w-48 w-40" alt="{{.Site.Title}}"></a>
    </div>
    <div class="flex-auto lg:hidden"></div>
    <div class="block lg:hidden">
        <button @click="showMenuToggle()"
                aria-label="Toggle navigation menu"
                type="button"
                class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <title>Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
            </svg>
        </button>
    </div>

    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto"
         :class="{hidden: showMenu}">
        <div class="text-xl lg:flex-grow">
            {{ $currentPage := . }}
            {{ range.Site.Menus.main }}
            <a href="{{.URL}}"
               class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-4 {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}underline decoration-wavy underline-offset-8 decoration-sky-500 font-bold decoration-2{{end}}">
                {{ .Name }}
            </a>
            {{ end }}
        </div>
    </div>
    <div>
        {{ if strings.Contains .Page.RelPermalink "/blog/" }}
            {{ with .GetPage "/blog/" }}
                {{ with .OutputFormats.Get "rss" }}
                    <a href="{{ .Permalink }}" class="px-4 py-2 ml-4 lg:mt-0 inline-block cursor-pointer" aria-label="Blog RSS link"><span v-html="icons.rss"></span></a>
                {{ end }}
            {{ end }}
        {{ end }}
        <button type="button" class="{{ if strings.Contains .Page.RelPermalink "/blog/" }} pe-4 {{ else }} px-4 {{ end }} py-2 ml-4 lg:mt-0 inline-block cursor-pointer" @click="showSearchToggle()" aria-label="Search button"><span v-html="icons.search"></span></button>
    </div>

</nav>