{{ if .Site.Params.convertAssetsToInline }}
    {{ $uikitJs := resources.Get "js/uikit.js" }}
    <script>
        {{ $uikitJs.Content | safeJS }}
    </script>

    {{ $uikitIcons := resources.Get "js/uikit-icons.js" }}
    <script>
        {{ $uikitIcons.Content | safeJS }}
    </script>

    {{ $algoliasearchLite := resources.Get "js/algoliasearch.umd.js" }}
    <script>
        {{ $algoliasearchLite.Content | safeJS }}
    </script>

    {{ $instantsearch := resources.Get "js/instantsearch.development.js" }}
    <script>
        {{ $instantsearch.Content | safeJS }}
    </script>
{{ else }}
    {{ $uikitJs := resources.Get "js/uikit.min.js" }}
    <script src="{{ $uikitJs.Permalink }}"></script>

    {{ $uikitIcons := resources.Get "js/uikit-icons.min.js" }}
    <script src="{{ $uikitIcons.Permalink }}"></script>

    {{ $algoliasearchLite := resources.Get "js/algoliasearch.umd.js" }}
    <script src="{{ $algoliasearchLite.Permalink }}"></script>

    {{ $instantsearch := resources.Get "js/instantsearch.production.min.js" }}
    <script src="{{ $instantsearch.Permalink }}"></script>
{{ end }}

<script>

    const search = instantsearch({
        indexName: '{{.Site.Params.algoliaIndexName}}',
        searchClient: algoliasearch('{{.Site.Params.algoliaAppId}}', '{{.Site.Params.algoliaApiKey}}'),
        searchFunction: function (helper) {
            if (helper.state.query === '') {
                if (document.getElementById("hits") != null) {
                    document.querySelector('#hits').innerHTML = '<p id="searchHelper">Type to search...</p>';
                }
                return;
            } else {
                document.querySelector('#searchHelper').classList.toggle('uk-hidden');
            }
            helper.search();
        }
    });

    {{ if .Site.Params.convertAssetsToInline }}
    {{ $customJs := resources.Get "js/custom.js" }}
    {{ $customJs.Content | safeJS }}
    {{ end }}
</script>

{{ if not .Site.Params.convertAssetsToInline }}
    {{ $customJs := resources.Get "js/custom.js" | resources.Minify }}
    <script src="{{ $customJs.Permalink }}"></script>
{{ end }}

{{ range .Params.htmlScripts }}
    <script src="{{ . }}" async></script>
{{ end }}

{{ if .Params.ads }}
    {{- partial "ads.html" . -}}
{{ end }}
