{{ with resources.Get "js/uikit.js" }}
    <script>
        {{ .Content | safeJS }}
    </script>
{{end}}

{{ with resources.Get "js/uikit-icons.js" }}
    <script>
        {{ .Content | safeJS }}
    </script>
{{end}}

{{ with resources.Get "js/algoliasearchLite.js" }}
    <script>
        {{ .Content | safeJS }}
    </script>
{{end}}

{{ with resources.Get "js/instantsearch.development.js" }}
    <script>
        {{ .Content | safeJS }}
    </script>
{{end}}

<script>

    const search = instantsearch({
        indexName: '{{.Site.Params.algoliaIndexName}}',
        searchClient: algoliasearch('{{.Site.Params.algoliaAppId}}', '{{.Site.Params.algoliaApiKey}}'),
        searchFunction: function (helper) {
            if (helper.state.query === '') {
                if (document.getElementById("hits") != null) {
                    document.querySelector('#hits').innerHTML = 'Type to search...';
                }
                if (document.getElementById("searchBox") != null) {
                    document.querySelector('#searchBox').placeholder = 'Type to search...';
                }
                return;
            }
            helper.search();
        }
    });

    {{ with resources.Get "js/custom.js" }}
        {{ .Content | safeJS }}
    {{end}}
</script>

{{ range .Params.htmlScripts }}
    <script src="{{ . }}" async></script>
{{ end }}

{{ if .Params.ads }}
    {{- partial "ads.html" . -}}
{{ end }}
