<!-- search model -->
<div class="fixed z-10 inset-0 overflow-auto backdrop-blur-lg bg-gray-800/80 hidden" ref="searchModelRef" @click="outsideClick($event, 'searchModelRef')">
    <div class="relative max-w-4xl flex items-center h-auto flex-wrap mx-auto my-32" ref="innerContainer" @click.stop>
        <div class="relative w-full rounded-lg shadow-2xl bg-gray-600 mx-6 ring-gray-800 p-4">
            <div class="flex items-center">
                <!-- search input -->
                <div class="relative flex-grow">
                    <div class="absolute h-10 mt-1 left-0 top-0 flex items-center pl-5">
                        <span v-html="icons.search" class="text-gray-600" aria-hidden="true"></span>
                    </div>
                    <input type="search" placeholder="Enter search term" v-model="searchText" @input="searchAlgolia"
                           class="block w-full bg-brand-white focus:outline-none focus:bg-white focus:shadow text-gray-700 font-bold rounded-lg pl-12 pr-4 py-3"
                           ref="searchInput"
                           aria-label="Search for content"
                    >
                </div>
                <!-- close button -->
                <div class="pl-4">
                    <button class="focus:outline-none cursor-pointer" aria-label="Close" type="button" @click="showSearchToggle()">
                        <span v-html="icons.times" class="hover:text-gray-300" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="mx-auto lg:mx-0 pt-3 border-b-2 border-gray-500 opacity-25"></div>

            <div class="p-2 overflow-auto max-h-96 w-full flex flex-col">
                <p class="text-center my-auto mx-auto text-gray-400 text-xl font-medium" v-if="isLoading">Loading...</p>
                <p class="text-center my-auto mx-auto text-gray-400 text-xl font-medium" v-if="!isLoading && numberOfHits === 0">
                    <span v-if="searchText === ''">Type above to search</span>
                    <span v-else>No results for "<span class="!text-white">{{"{{searchText}}"}}</span>"</span>
                </p>
                <div v-for="(contents, section) in hits" class="self-start w-full">
                    <h2 class="text-xl font-bold pb-3 py-3 capitalize">{{"{{section}}"}}</h2>
                    <section v-for="content in contents">
                        <a :href="content.uri" class="block w-full rounded-lg shadow-2xl bg-gray-600 border border-gray-500 hover:border-liquid-lava p-2 my-1">{{"{{content.title}}"}}</a>
                    </section>
                </div>
            </div>

            <div class="mx-auto lg:mx-0 pt-3 border-b-2 border-gray-500 opacity-25"></div>
            <div class="mt-2 flow-root float-right">
                <div class="flex">
                    <div>
                        Powered by
                    </div>
                    <div class="ml-2">
                        <img width="100" src="/img/algolia-dark.svg" loading="lazy" alt="Algolia logo">
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
