<!doctype html>
<html lang="en">

<head>

    {{- partial "head.html" . -}}
    {{ partial "personSchemaSEO.html" . }}
    {{ partial "profileOGPSEO.html" . }}
    {{- block "head" . }}{{- end }}


</head>

<body class="uk-background-default">
    {{- partial "nav.html" . -}}

    {{ if .Site.Params.alert.body }}
        <div class="uk-container uk-padding uk-padding-remove-bottom">
            {{- partial "alert.html" . -}}
        </div>
    {{ end }}

    {{- block "main" . }}{{- end }}

    {{partial "sendgrid.html" . }}
    {{- partial "footer.html" . -}}

    {{ if .Params.video }}
        {{ $videoCss := resources.Get "css/video-js.min.css" }}
        <link href="{{ $videoCss.Permalink }}" rel="stylesheet">
        {{ $videoJs := resources.Get "js/video.min.js" }}
        <script src="{{$videoJs.Permalink}}"></script>
    {{ end }}
</body>

</html>