<!doctype html>
<html lang="en">
<head>
    {{- partial "meta.html" . -}}

    {{ $imagePath := partial "image-path" (dict "page" . "src" .Site.Params.thumbnailUrl) }}
    {{ $srcOriginal := $imagePath.originalSrc}}
    {{ $src := $imagePath.webpSrc }}

    <link rel="preload" href="{{$src}}" as="image">
    <link rel="preload" href="{{.Site.Params.thumbnailUrl}}" as="image">
    <link rel="preload" href="{{.Site.Params.namedLogo}}" as="image">
    {{- partial "head.html" . -}}

    <script>
        const algoliaAppId = {{.Site.Params.algoliaAppId}}
        const algoliaApiKey = {{.Site.Params.algoliaApiKey}}
        const algoliaIndexName = {{.Site.Params.algoliaIndexName}}
    </script>
    {{ partial "main-script.html" . }}
</head>
<body class="text-white leading-normal tracking-wider">

<main id="profile" class="max-w-4xl flex items-center h-auto lg:h-screen flex-wrap mx-auto my-32 lg:my-0">

    <!--Main Col-->
    <div class="sm:relative w-full rounded-lg shadow-2xl mx-6 bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-1">


        <div class="p-4 md:p-12 text-center h-full w-full bg-gray-800 rounded-lg ">
            <div class="rounded-full shadow-xl mx-auto sm:-mt-28 md:-mt-36 -mt-36 h-48 w-48 bg-cover bg-center relative bg-gradient-to-br from-pink-500 via-red-500 to-yellow-500 p-1">
                <picture>
                    {{ $imagePath := partial "image-path" (dict "page" . "src" .Site.Params.thumbnailUrl) }}
                    {{ $srcOriginal := $imagePath.originalSrc}}
                    {{ $src := $imagePath.webpSrc }}
                    <source srcset="{{ $src }}" class="rounded-full lg:block" type="image/webp">
                    <img src="{{.Site.Params.thumbnailUrl}}" class="rounded-full lg:block" alt="{{.Site.Title}}" height="200" width="200">
                </picture>
            </div>

            <!-- Nav bar -->
            <div class="pt-12 pb-8">
                <nav class="flex items-center justify-between flex-wrap bg-gray-600 rounded-lg p-4">

                    <div class="flex items-center flex-shrink text-white mr-6">
                        <img src="{{.Site.Params.namedLogo}}" class="sm:w-48 w-40" alt="{{.Site.Title}}">
                    </div>

                    <div class="block lg:hidden">
                        <button @click="showMenuToggle()"
                                aria-label="Toggle navigation menu"
                                class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                <title>Menu</title>
                                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                            </svg>
                        </button>
                    </div>

                    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto"
                            :class="{hidden: showMenu}">
                        <div class="text-xl lg:flex-grow">
                            {{ range.Site.Menus.main }}
                            <a href="{{.URL}}"
                                class="block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-4">
                                {{ .Name }}
                            </a>
                            {{ end }}
                        </div>
                    </div>

                </nav>
            </div>

            <h1 class="sr-only">{{ .Title }}</h1>


            <div class="py-4 text-lg">{{ .Content }}</div>

            <div class="mt-6 pb-16 lg:pb-0 w-4/6 mx-auto flex flex-wrap items-center justify-between">
                <a class="link" href="{{ .Site.Params.social.linkedin }}">
                    <i v-html="icons.linkedin" class="hover:text-gray-300" aria-hidden="true"></i>
                    <span class="sr-only">LinkedIn</span>
                </a>
                <a class="link" href="{{ .Site.Params.social.twitter }}">
                    <i v-html="icons.twitter" class="hover:text-gray-300" aria-hidden="true"></i>
                    <span class="sr-only">Twitter</span>
                </a>
                <a class="link" href="{{ .Site.Params.social.github }}">
                    <i v-html="icons.github" class="hover:text-gray-300" aria-hidden="true"></i>
                    <span class="sr-only">GitHub</span>
                </a>
                <a class="link" href="mailto:{{ .Site.Params.email }}">
                    <i v-html="icons.mail" class="hover:text-gray-300" aria-hidden="true"></i>
                    <span class="sr-only">eMail</span>
                </a>
            </div>
        </div>

        <!-- Search icon: Pin to top right corner -->
        <div class="absolute top-0 right-0 h-12 w-18 p-4">
            <button class="focus:outline-none cursor-pointer" type="button" @click="showSearchToggle()" aria-label="Search button"><i v-html="icons.search"
                                                                                class="hover:text-gray-300"></i>
            </button>
        </div>

    </div>
{{ partial "search.html" . }}
</main>
{{ partial "scripts.html" . }}
</body>
</html>