{{ define "head"}}
    {{ with .OutputFormats.Get "amp" }}
        <link rel="amphtml" href="{{ .Permalink }}">
    {{ end }}
    {{- partial "articleSchemaSEO.html" . -}}
{{ end }}

{{ define "main"}}
    <div class="uk-section uk-section-default">
        <div class="uk-container uk-container-expand">
            <div class="uk-grid">
                <div class="uk-width-expand">
                    <article class="uk-article gol-links uk-text-justify uk-text-break">
                        <link itemprop="mainEntityOfPage" href="{{ .Permalink }}"/>
                        <link itemprop="author" content="{{ .Params.author.firstName }} {{ .Params.author.lastName }}"/>

                        <h1 class="uk-article-title" itemprop="headline">{{.Title}}</h1>

                        <p class="uk-article-meta">{{.PublishDate.Format "January 2, 2006"}}
                            &bullet; {{ range .Params.tags }}
                                <a href="{{ `/tags/` | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}
                        &bullet; {{ .ReadingTime }} minutes to read
                        </p>

                        <div>
                            <ul class="uk-iconnav">
                                <li><a href="https://www.facebook.com/sharer.php?u={{ .Permalink }}"
                                       uk-icon="icon: facebook" onclick='getOutboundLink("outbound", {{printf "%s%s" "https://www.facebook.com/sharer.php?u=" .Permalink }});window.open(this.href,
  "", "menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600");return false;'></a></li>
                                <li>
                                    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}"
                                       uk-icon="icon: linkedin" onclick='getOutboundLink("outbound", {{printf "%s%s" "https://www.linkedin.com/shareArticle?mini=true&url=" .Permalink }});window.open(this.href,
  "", "menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600");return false;'></a></li>
                                <li><a href="https://twitter.com/intent/tweet?url={{ .Permalink }}"
                                       uk-icon="icon: twitter" onclick='getOutboundLink("outbound", {{printf "%s%s" "https://twitter.com/intent/tweet?url=" .Permalink }});window.open(this.href,
  "", "menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600");return false;'></a></li>
                                <li><a href="https://pinterest.com/pin/create/link/?url={{ .Permalink }}"
                                       uk-icon="icon: pinterest"
                                       onclick='getOutboundLink("outbound", {{printf "%s%s" "https://pinterest.com/pin/create/link/?url=" .Permalink }});window.open(this.href,
  "", "menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600");return false;'></a></li>
                            </ul>
                        </div>

                        {{ if (isset .Params "sitemapimages" )}}
                            {{ range $index, $element := .Params.siteMapImages }}
                                {{if eq $index 0 }}
                                    <figure>
                                        <img class="uk-align-center" width="600" src="{{ .imageLoc | absURL }}" alt="{{ .imageCaption }}" uk-img>
                                    </figure>
                                {{end}}
                            {{end}}
                        {{ end }}

                        {{.Content}}

                    </article>

                    <article class="uk-comment gol-links uk-margin-large-top uk-text-justify">
                        <div class="uk-comment-body">
                            {{ template "_internal/disqus.html" . }}
                        </div>
                    </article>
                </div>
                <div class="gol-sidebar-right uk-width-auto uk-visible@l">
                    <div uk-sticky="offset: 250; bottom: article" uk-scrollspy-nav="closest: li; scroll: true; offset: 50">

                        <h4>Table of Content</h4>
                        {{ .TableOfContents }}

                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}