
@import url("./fira_code.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-900;
    @apply text-white;
}

.highlight pre {
    @apply my-2
}

h2,
h3,
h4,
h5,
h6 {
    @extend %headings !optional;
}

article {
    %headings {
        .anchor-link {
            display: none;
        }
        &:hover {
            .anchor-link {
                display: inline;
            }
        }
    }
}

.profile-image-container {
    position: relative;
}

.profile-image-container:before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: conic-gradient(transparent 0% 75%, #fff 75% 100%);
    background-size: 100% 100%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 1s linear forwards;
    border-radius: 50%; 
}

@keyframes steam {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1turn);
        opacity: 0;
    }
}

/* .profile-image-container:after {
    filter: blur(50px);
    border-radius: 50%; 
} */

