<figure class="kg-card kg-image-card kg-card-hascaption">
    <amp-img
           {{with .Get "src" }} src="{{ . }}" {{ end }}
            class="kg-image"
            width="600"
            height="400"
            layout="responsive">

    </amp-img>
    {{ with .Get "title" }}
    <figcaption>
        <strong><strong>{{ . }}</strong></strong>
{{/*        <a href="https://docs.ghost.org/sitemap.xml"><strong>https://docs.ghost.org/sitemap.xml</strong></a>*/}}
    </figcaption>
    {{ end }}
</figure>