{{define "main"}}

<h1>{{.Title}}</h1>

{{$slice := slice}}
{{range $page := .Pages}}
    {{range $tag := $page.Params.tags}}
        {{$slice = $slice | append $tag}}
    {{end}}
{{end}}

<div class="hidden">
    <button class="text-xs font-semibold mr-2 px-2.5 py-0.5 rounded bg-gray-200 text-gray-800 hover:bg-gray-100">All</button>
    {{ range $uniqueTags := $slice | uniq }}
        <button class="text-xs font-semibold mr-2 px-2.5 py-0.5 rounded bg-gray-200 text-gray-800 hover:bg-gray-100">{{ $uniqueTags }}</button>
    {{ end }}
</div>

<div class="relative px-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl">
    {{ range .Pages.GroupByParam "projectCategory" }}
        <h2>{{.Key}}</h2>
        <div class="relative grid gap-5 sm:grid-cols-2 lg:grid-cols-4 prose-a:no-underline">
            {{ range .Pages }}
                <a href="{{.Params.externalurl}}" class="flex flex-col justify-between overflow-hidden text-left transition-shadow duration-200 bg-gray-700 hover:bg-gray-600 rounded shadow-xl group hover:shadow-2xl">
                    <div class="p-5">
                        <h3 class="!mt-1 mb-2 font-bold text-l">{{ .Title }} {{ if (isset .Params "externalurl") }} <sup class="text-xs" v-html="externalLink"></sup> {{end}}</h3>
                        <p class="text-sm leading-5 text-gray-300">
                            {{ .Params.description }}
                        </p>
                        <p class="text-sm leading-5 text-gray-300">
                            Built with: {{ range .Params.tags }}<span class="bg-gray-800 text-gray-200 text-xs font-semibold my-0.5 mx-0.5 px-2.5 py-0.5 rounded">{{ . }}</span> {{ end }}
                        </p>
                    </div>
                    <div class="w-full h-1 ml-auto duration-300 origin-left transform scale-x-0 bg-deep-purple-accent-400 group-hover:scale-x-100"></div>
                </a>
            {{end}}
        </div>
    {{end}}
</div>


{{end}}